body {
  color: $font-color;
  font-family: 'Lato', Arial, sans-serif; 
}

a { color: $nkdsu-orange; }
  a:hover {
    color: darken($nkdsu-orange, 20%);
    text-decoration: none
  }

.btn-default {
  background: $nkdsu-orange;
  color: #fff;
}
  .btn-default:hover {
    background: darken($nkdsu-orange, 5%);
    color: #fff; 
  }
  .btn-default:active,
  .btn-default:focus {
    background: darken($nkdsu-orange, 10%);
    color: #fff;
    outline: none;
  }
  .btn-default.disabled {
    background: $nkdsu-orange;
  }