<div class="row">
  <div class="col-xs-3 sidebar">
    <div class="information">
      <h1>Toridesu~</h1>
      <p class="lead">A song recommendation machine for <a href="https://nkd.su">Neko Desu</a></p>
    </div>

    <form role="form" ng-submit="home.submit(home.username)">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Hummingbird Username" ng-model="home.username" ng-init="home.username = ''">
      </div>
      <button type="submit" class="btn btn-default btn-block" ng-click="home.recommendedSongs = ''"ng-class="{disabled: home.username === ''}">{{ home.buttonText }}</button>
    </form>

    <div class="twitter">
      <label for="twitterMsg">Enter optional message <br><small>{{ twitterLength }} characters left</small></label>
      <textarea ng-model="home.twitterMsg" id="twitterMsg" class="form-control" rows="5">{{ home.twitterMsg }}</textarea>
      <a href="{{ voteTweet }}" class="btn btn-default btn-block" ng-class="{disabled: twitterLength < 0}">Vote for selected recommendations</a>
    </div>

    <div class="footer">
      <div class="well">
        <p><b>Note:</b> It might return nothing due to differences in titles. Just give it another spin to get a new batch of recommendations.</p>
      </div>
      <p class="text-center">
        <small>
          <a href="https://github.com/Tomo-san/nkdsu-hummingbird-voting-recommendation/blob/master/README.md" title="What is this?!">What?!</a>&nbsp;|&nbsp;
          <a href="https://github.com/Tomo-san/nkdsu-hummingbird-voting-recommendation" title="Source Code">Source Code</a>&nbsp;|&nbsp;
          <a class="dance-link" title="Dance Party" ng-click="home.danceparty = true" ng-show="home.danceparty === false">ヘ(￣ω￣ヘ)</a>
          <a class="dance-link" title="Too much dance" ng-click="home.danceparty = false" ng-show="home.danceparty === true">＿|￣|○</a>
        </small>
      </p>
    </div>
  </div>

  <div class="col-xs-9" ng-show="home.recommendedSongs">
    <div class="song" ng-repeat="song in home.recommendedSongs" data-voteUrl="{{ song.url }}">
      <div style="background-image: url('{{ song.background }}');" class="art"></div>
      <h3>{{ song.title }} <small>{{ song.artist }}</small></h3>
      <h5>{{ song.role }}</h5>
    </div>
  </div>

  <div class="col-xs-9" ng-show="home.startSearch">
    <p class="text-center">
      <img src="images/loading.gif" alt="Loading...">
    </p>
  </div>

  <div class="col-xs-9" ng-show="home.userError && !home.startSearch && !home.recommendedSongs">
    <div class="well text-center">
      <h1 class="baka">ばか</h1>
      <h3 class="error-title">ｕｓｅｒｎａｍｅ　ｅｒｒｏｒ</h3>
      <p ng-show="home.errAttempt === 1">Please try again!</p>
      <p ng-show="home.errAttempt === 2">Opps that's odd, give it another go!</p>
      <p ng-show="home.errAttempt === 3">Hey third time lucky</p>
      <p ng-show="home.errAttempt >= 4 && home.errAttempt < 8">Ok, ping me and I'll see if anything broke</p>
      <p ng-show="home.errAttempt >= 8 && home.errAttempt < 14">Hey, you can stop pinging me now</p>
      <p ng-show="home.errAttempt >= 14 && home.errAttempt < 20">Seriously stop that</p>
      <p ng-show="home.errAttempt >= 20 && home.errAttempt < 9001">You've tried {{ home.errAttempt }} times now. I don't think it will suddenly start working now.</p>
      <div ng-show="home.errAttempt >= 9001">
        <p>Current count: {{ home.errAttempt }}</p>
        <div class="embed-responsive embed-responsive-4by3" ng-hide="home.errAttempt === 525600">
          <iframe src="//www.youtube.com/embed/SiMHTK15Pik?rel=0" allowfullscreen></iframe>
        </div>
        <div class="embed-responsive embed-responsive-16by9" ng-show="home.errAttempt === 525600">
          <iframe src="//www.youtube.com/embed/aJ2nxRz0a_g?rel=0" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>
</div>
