<div class="row">
  <div class="col-xs-3 sidebar">
    <div class="information">
      <h1>Toridesu~</h1>
      <p class="lead">A song recommendation machine for <a href="https://nkd.su">Neko Desu</a></p>
    </div>

    <form role="form" ng-submit="home.submit(home.username)">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Hummingbird Username" ng-model="home.username">
      </div>
      <button type="submit" class="btn btn-default btn-block" ng-click="home.recommendedSongs = ''">{{ home.buttonText }}</button>
    </form>

    <!-- <div class="twitter" ng-show="home.recommendedSongs"> -->
    <div class="twitter">
      <label for="twitterMsg">Enter optional message</label>
      <textarea ng-model="home.twitterMsg" id="twitterMsg" class="form-control" rows="5"></textarea>
      <a href="#" class="btn btn-twitter btn-block" ng-hide="home.recommendedSongs.length > 6">Vote for all recommendations</a>
      <a href="#" class="btn btn-twitter btn-block">Vote for selected recommendations</a>
    </div>

    <div class="footer">
      <div class="well">
        <p>You can't vote for tracks yet and sometimes it might return nothing due to differences in titles. Just give it another spin to get a new batch of recommendations.</p>
      </div>
      <p class="text-center"><a href="https://github.com/Tomo-san/nkdsu-hummingbird-voting-recommendation">Source Code</a></p>
    </div>
  </div>

  <div class="col-xs-9" ng-show="home.recommendedSongs">
    <a href="" class="song" ng-repeat="song in home.recommendedSongs">
      <h3>{{ song.title }} <small>{{ song.artist }}</small></h3>
      <h5>{{ song.role }}</h5>
    </a>
  </div>

  <div class="col-xs-9" ng-show="home.startSearch">
    <p class="text-center">
      <img src="images/loading.gif" alt="Loading...">
    </p>
  </div>
</div>
